In [1]:
import pandas as pd
from sklearn import tree

In [2]:
df =pd.read_csv('DataSets//male female.csv')

In [3]:
df

   height  weight  shoe size  gender
0     181      80         44    male
1     177      70         43  female
2     160      60         38  female
3     154      54         37  female
4     166      65         40    male
5     190      90         47    male
6     175      64         39    male
7     171      75         42  female
8     185      85         43  female
9     169      71         42    male

In [4]:
# X_train = df.iloc[:,:-1]
X_train = df[['height', 'weight', 'shoe size']]
X_train.head()

   height  weight  shoe size
0     181      80         44
1     177      70         43
2     160      60         38
3     154      54         37
4     166      65         40

In [5]:
y_train = df.iloc[:,-1]
y_train.head()

0      male
1    female
2    female
3    female
4      male
Name: gender, dtype: object

In [21]:
# X_train = df_train[['feature1', 'feature2']]  # Training data with named columns
# model.fit(X_train, y_train)

model = tree.DecisionTreeClassifier()
model.fit(X_train, y_train)
pred = model.predict([[171, 65, 41]])
pred

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['male'], dtype=object)